{% extends 'chatbot_tutorial/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}


Hi {{ user.username }}!
<p><a href="{% url 'stats' %}">UserStats</a>

    <br><a href="{% url 'logout' %}">Log Out</a>
</p>







<!-- Wrap all page content here -->

<div id="wrap" class="BotMainDiv" ng-controller="ChatCtrl">
    <!-- Begin page content -->
    <div class="container-fluid" id="body-container" style="border-bottom: #eee 1px solid;">

        <div id="sub-body-container">

            <div id="messages-container">

            </div>
            <div class="error-notification alert alert-info" style="display:none;"></div>


        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom non-error">
        <button onclick="sendTextMessage('fat')">Fat</button>
        <button onclick="sendTextMessage('dumb')">Dumb</button>
        <button onclick="sendTextMessage('stupid')">Stupid</button>


    </div>

</div>






{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}